<!DOCTYPE html> 
<html>
    <head>
        <title>About</title>
                <link rel="icon" href="/images/weather.png">
        <link rel="stylesheet" href="/css/styles.css">
        <script src="/js/app.js"></script>
    </head>
    <body>
        <div class="main-content">
        {{>header}}
        <img class="portrait" src="/images/image.jpg">
        <p>This website uses data from mapbox.com and weatherstack.com</p>
        </div>
        {{>footer}}
    </body>
</html>